<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <title>home</title>
</head>
<body>
    <h1 style="text-align: center;margin-top: 20px;">Welcome to this Page</h1>
    <a href="/register/"><button type="button" class="btn btn-info btn-outline" id="register"
        style="margin-left: 40px">Register</button></a>
        <br>
        <br>
        <a href="/login/"><button type="button" class="btn btn-info btn-outline" id="register"
            style="margin-left: 40px">Log In</button></a>
    
</body>
</html>