{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="col-md-2">
        <div class="login-card">
            <h2 class="text-center mb-4">Sign Up</h2>
            <form action="">
                <p>
                    <label for="name">Name</label>
                    <input type="text" class="form-input" id="name" name="name" placeholder="Enter name of the organization">
                </p>
                <p>
                    <label for="email">Email</label>
                    <input type="text" class="form-input" id="email-id" name="email" placeholder="Enter email address">
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" class="form-input" name="password" id="password" placeholder="Enter your password">
                </p>
                <p>
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-input" name="password" id="confirmpassword" placeholder="Confirm Password">
                </p>
                <!-- <button type="button"  class="btn btn-dark btn-outline btn-block" id="register">Register</button> -->
                <button type="button" id="register" class="btn btn-primary btn-lg btn-block">Register</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/js/register.js"></script>
</html>